@mixin mobile-smallest {
  @media screen and (max-width: $mobileSmallest * 1px) {
    @content;
  }
}

@mixin mobile {
  @media screen and (min-width: 321px) and (max-width: $mobile * 1px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: $tablet * 1px) and (max-width: $laptop * 1px){
    @content;
  }
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin flex-column-center-stretch {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

