// Colors
$color-primary: #901C1C;
$color-primary-text: #D3573C;

$color-secondary: #DB8876;
$color-secondary-text: #901C1C;
$color-secondary-text-gray: #525252;
$color-secondary-background: #FAFAFA;

// Shadows
$shadow-light: rgb(161, 161, 161);

// Média queries
$mobileSmallest: 320;
$mobile: 425;
$tablet: 426;
$laptop: 769;
$large: 1025;
$desktop: 1440;