.error-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15rem;
  h1 {
    font-size: 6rem;
    color: $color-primary;
  }

  p {
    font-size: 3rem;
    color: $color-primary;
  }

  .home-link {
    margin-top: 5rem;
    width: 15rem;
    height: 3rem;
    background: $color-secondary;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .5rem;

    a {
      color: $color-primary;
      font-size: 1.3rem;

      &:hover {
        color: #fff;
      }
    }
  }
}