.dialog {
  display: none;
  position: fixed;
  align-items: center;
  justify-content: center;
  z-index: -2;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: #fff;
  opacity: 0;

  .modalContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: calc(100vw - 5rem);
    height: 90vh;
    width: 65rem;
    background: $color-secondary;
    border-radius: .5rem;

    @include mobile {
      height: 74rem;
      justify-content: unset;
      align-content: start;
    }

    @include mobile-smallest {
      height: 70rem;
      justify-content: unset;
      align-content: start;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 5rem;

    @include mobile {
      padding: 1rem 2rem;
    }

    @include mobile-smallest {
      align-items: flex-start;
      padding: 1rem 1.5rem;
    }

    h1 {
      font-size: 5.4rem;

      @include mobile {
        font-size: 3.4rem;
      }

      @include mobile-smallest {
        font-size: 3.4rem;
      }
    }

    .btn-close {
      font-size: 5rem;
      width: 3rem;
      height: 3rem;
      background: url('data:image/svg+xml;utf8,<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M5.11611 6.00001L0.558105 10.558L1.44211 11.442L6.00011 6.88401L10.5581 11.442L11.4421 10.558L6.88411 6.00001L11.4421 1.44201L10.5581 0.558014L6.00011 5.11601L1.44211 0.558014L0.558105 1.44201L5.11611 6.00001Z" fill="white"/></svg>') center center / 100% 100% no-repeat transparent;
      text-indent: -9999px;

      @include mobile {
        width: 2rem;
        height: 2rem;
      }

      @include mobile-smallest {
        margin-top: 1rem;
        width: 2rem;
        height: 2rem;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
    padding: 0 5rem;

    @include mobile {
      padding: 0 2rem;
    }

    @include mobile-smallest {
      padding: 0 1.5rem;
    }

    h2 {
      font-size: 5rem;
      padding-bottom: 3rem;

      @include mobile {
        font-size: 3rem;
      }

      @include mobile-smallest {
        font-size: 3rem;
      }
    }

    &--form {
      width: 100%;
    }
  }

  &__body--form {
    .form-input {
      display: flex;
      flex-direction: column;
      padding-bottom: 1rem;
      position: relative;
    
      label {
        font-size: 2.6rem;
        color: #312E2E;

        @include mobile {
          font-size: 2rem;
        }

        @include mobile-smallest {
          font-size: 2rem;
        }
      }
    
      input {
        height: 6rem;
        border-radius: .5rem;
        border-color: transparent;
        font-size: 2.6rem;
        color: #312E2E;

        @include mobile {
          height: 5.8rem;
          font-size: 2rem;
        }

        @include mobile-smallest {
          height: 5.8rem;
          font-size: 2rem;
        }
    
        :focus {
          outline: none;
        }
      }
    
      textarea {
        resize : none;
        height: 15rem;
        border-radius: .5rem;
        border-color: transparent;
        font-size: 2rem;
        color: #312E2E;

        @include mobile {
          height: 19rem;
        }

        @include mobile-smallest {
          height: 12rem;
        }
      }
    }
    
    button {
      width: 17rem;
      height: 6rem;
      border-radius: .5rem;
      background-color: $color-primary;
      color: white;
      font-size: 2rem;
      margin: 1.6rem 0;

      @include mobile {
        height: 4rem;
        font-size: 1.8rem;
        position: absolute;
        left: calc(50% - 8.5rem);
      }

      @include mobile-smallest {
        height: 4rem;
        font-size: 1.8rem;
        position: absolute;
        left: calc(50% - 8.5rem);
      }
    }
  }
}

.dialog.active {
  opacity: 1;
  z-index: 199;
}