.select__section {
  display: flex;
  align-items: center;

  @include mobile {
    display: none;
  }

  @include mobile-smallest {
    display: none;
  }

  .select__title {
    font-size: 1.8rem;
    font-weight: bold;
    padding-right: 3rem;
  }

  .select__dropdown {
    width: 17rem;
    height: 7rem;
    display: flex;
    flex-direction: column;
    
  }
  
  .select-wrapper {
    position: relative;
    user-select: none;
    width: 100%;
    
  }

  .select {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .select__trigger {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.4rem;
    font-size: 2rem;
    font-weight: 300;
    color: white;
    height: 6rem;
    line-height: 6rem;
    background: $color-primary;
    cursor: pointer;
    border-radius: .5rem;
  }

  .options {
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    right: 0;
    border-top: 0;
    background: $color-primary;
    transition: all 0.5s;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 2;
    box-shadow: 2px 3px 6px 0px rgba(17, 17, 17, 0.77);
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
  }

  .select.open .select__trigger,
  .select.open .options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .select.open .options {
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
  }

  .option {
    position: relative;
    display: block;
    padding: 0 1.4rem;
    font-size: 2rem;
    font-weight: 300;
    line-height: 5.5rem;
    color: white;
    cursor: pointer;
    transition: all 0.5s;

    :hover {
      cursor: pointer;
      background-color: #b2b2b2;
    }

    &.selected {
      color: white;
      background-color: $color-primary;
    }

    &:nth-child(1)::before,
    &:nth-child(2)::before,
    &:nth-child(3)::before {
      content: "";
      display: block;
      width: 100%;
      height: .2rem;
      border-top: 1px solid #fff;
      margin: 0px auto;
    }

    &:nth-last-child(1) {
      border-bottom-left-radius: .5rem;
      border-bottom-right-radius: .5rem;
    }
  }
}

.arrow {
  position: relative;
  height: 15px;
  width: 12px;
}
.arrow::before, .arrow::after {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 0.15rem;
  height: 100%;
  transition: all 0.5s;
}
.arrow::before {
  left: -5px;
  transform: rotate(45deg);
  background-color: white;
}
.arrow::after {
  left: 5px;
  transform: rotate(-45deg);
  background-color: white;
}
.open .arrow::before {
  left: -5px;
  transform: rotate(-45deg);
}
.open .arrow::after {
  left: 5px;
  transform: rotate(45deg);
}



