.lightbox__container {
  display: none;
}

.lightbox__container {
  position: fixed;
  display: none;
  place-items: center;
  z-index: -1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: #fff;
  opacity: 0;
}

.lightbox__container.active {
  opacity: 1;
  z-index: 99;
}

.lightbox__closeIcon {
  position: absolute;
  right: 0;
  top: 6rem;
  padding: 2rem;
  cursor: pointer;
  color: $color-primary;
  transition: .3s;
  z-index: 29;

  &:hover {
    color: $color-primary;
  }

  @include mobile {
    right: 0;
    top: 3rem;
  }

  @include mobile-smallest {
    right: 0;
    top: 4rem;
  }

  .icon {
    font-size: 3.5rem;
    transition: .3s;
    z-index: 29;

    &:hover {
      color: $color-secondary;
    }

    @include mobile {
      color: $color-secondary;
      background: rgba(255, 255, 255, 0.623);
      border-radius: 50%;
      width: 4rem;
      height: 4rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    @include mobile-smallest {
      color: $color-secondary;
      background: rgba(255, 255, 255, 0.623);
      border-radius: 50%;
      width: 4rem;
      height: 4rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  @include mobile {
    z-index: 29;
  }

  @include mobile-smallest {
    z-index: 29;
  }
}

.lightbox__btn {
  background-color: transparent;
  display: grid;
  position: absolute;
  place-items: center;
  padding: 1rem;
  color: black;
  transition: .3s;

  &:focus {
    outline: none;
  }

  .inactive {
    opacity: 0;
  }
}

.lightbox__img,
.lightbox__video
{
  width: 100rem;
  height: 80rem;
  object-fit: cover;

  @include mobile {
    max-width: 95vw;
    max-height: 90vh;
  }

  @include mobile-smallest {
    width: 95vw;
    height: 90vh;
  }
}

.left {
  right: auto;
  left: 0;
  color: $color-primary;
  transition: .3s;
  z-index: 29;

  &:hover {
    color: $color-secondary;
  }

  @include mobile {
    left: 1rem;
  }

  @include mobile-smallest {
    left: -.5rem;
  }
}

.right {
  right: 0;
  color: $color-primary;
  transition: .3s;
  z-index: 29;

  &:hover {
    color: $color-secondary;
  }

  @include mobile {
    right: 1rem;
  }

  @include mobile-smallest {
    right: -.5rem;
  }
}

.fa-chevron-right,
.fa-chevron-left {
  font-size: 4rem;
  background-color: transparent;
  color: $color-primary;
  transition: .3s;

  &:hover {
    color: $color-secondary;
  }

  @include mobile {
    color: $color-secondary;
    background: rgba(255, 255, 255, 0.623);
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
  }

  @include mobile-smallest {
    color: $color-secondary;
    background: rgba(255, 255, 255, 0.623);
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
  }
}
