.card-media {
  justify-self: center;
  width: 35rem;
  height: 35rem;

  @include mobile {
    height: 0;
    min-height: 22rem;
    width: 100%;
  }

  @include mobile-smallest {
    height: 0;
    min-height: 22rem;
    width: 100%;
  }

  .header__image,
  .header__video {
    width: 35rem;
    height: 30rem;
    object-fit: cover;
    border-radius: .5rem;

    @include mobile {
      height: 20rem;
      width: 100%;
    }

    @include mobile-smallest {
      height: 20rem;
      width: 100%;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .container__body {
    display: flex;
    align-items: flex-start;;
    justify-content: space-between;
    padding-top: .6rem;

    @include mobile {
      padding-top: 0;
    }

    @include mobile-smallest {
      padding-top: 0;
    }

    h2 {
      color: $color-primary;
      font-size: 2rem;
      width: 60%;

      @include mobile {
        font-size: 1.8rem;
      }

      @include mobile-smallest {
        font-size: 1.8rem;
      }
    }
  }

  .card__info {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 30%;

    p {
      color: $color-primary;
      font-size: 2rem;
      word-break: normal;

      @include mobile {
        font-size: 1.8rem;
      }

      @include mobile-smallest {
        font-size: 1.8rem;
      }
    }

    .likesContainer {
      display: flex;
      align-items: center;
      justify-content: center;

      .fa-heart {
        font-size: 1.6rem;
        color: $color-primary;
        padding-left: .5rem;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}


