.photographer-info {
  position: fixed;
  bottom: 0;
  right: 3rem;
  width: 30rem;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: $color-secondary;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;

  @include mobile {
    display: none;
  }

  @include mobile-smallest {
    display: none;
  }

  .totalLikes {
    color: #000;
    font-size: 2.2rem;
  }

  .fa-heart {
    padding-right: 3rem;
    font-size: 2.2rem;
  }

  .priceByDay {
    color: #000;
    font-size: 2.2rem;
  }
}