.cardPhotographer {
  flex: 0 0 30%;
  justify-self: center;
  align-self: center;
  height: 35.5rem;
  max-width: 40rem;
  padding-top: 3rem;

  &__header {
    display: inline-block;
    display: flex;
    flex-direction: column;
    align-items: center;

    .img {
      width: 20rem;
      height: 20rem;
      object-fit: cover;
      border-radius: 50%;
    }

    h2 {
      font-size: 3.6rem;
      white-space: nowrap;
      color: $color-primary-text;
    }
  }

  &__body {
    text-align: center;

    .city {
      font-size: 1.3rem;
      color: $color-primary;
    }

    .tagline {
      color: black;
      font-size: 1rem;
      padding-top: .3rem;
    }

    .price {
      color: #757575;
      font-size: 1rem;
      padding-top: .3rem;
    }
  }

  &__footer ul{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: .5rem;

    .tag {
      border: .1rem solid #E5E5E5;
      border-radius: 2rem;
      color: $color-primary;
      padding: .5rem 1rem;
      margin: .3rem;
      font-weight: 700;
      pointer-events: none;
    }
  }
}