.header {
  &__container-photographer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 2rem;

    @include mobile {
      //max-width: 35rem;
      padding: 0 3%;
    }

    @include mobile-smallest {
      padding: 0 3%;
    }
  }

  &__body {
    background: $color-secondary-background;
    display: flex;
    width: 100%;
    min-height: 30rem;
    justify-content: space-between;

    @include mobile {
      background: #FFF;
      width: 100%;
      min-height: 20rem;
      position: relative;
    }

    @include mobile-smallest {
      background: #FFF;
      width: 100%;
      min-height: 20rem;
      position: relative;
    }

    &--info {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      flex-wrap: wrap;
      padding: 0 3rem 0 3rem;

      @include mobile {
        padding: 0;
        justify-content: initial;
      }

      @include mobile-smallest {
        padding: 0;
        justify-content: initial;
      }

      h1 {
        display:inline;
        font-size: 6rem;
        color: $color-primary-text;

        @include mobile {
          width: 60%;
          font-size: 3.6rem;
          display: block;
        }

        @include mobile-smallest {
          width: 60%;
          font-size: 3.6rem;
          display: block;
        }
      }

      .info__city {
        font-size: 3rem;
        color: $color-primary;

        @include mobile {
          font-size: 2rem;
        }

        @include mobile-smallest {
          font-size: 2rem;
        }
      }

      .info__tagline {
        font-size: 1.6rem;
        color: $color-secondary-text-gray;

        @include mobile {
          font-size: 1.3rem;
          padding-bottom: 1rem;
        }

        @include mobile-smallest {
          font-size: 1.3rem;
          padding-bottom: 1rem;
        }
      }
    }

    .info__tags--ul {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
    }

    .info__tags--li {
      font-size: 1.5rem;
      font-weight: 700;
      border: .1rem solid #e5e5e5;
      border-radius: 2rem;
      color: #901c1c;
      padding: .5rem 1rem;
      margin: .2rem;
      cursor: default;

      @include mobile {
        font-size: 1.3rem;
      }

      @include mobile-smallest {
        font-size: 1.3rem;
      }
    }

    &--contact {
      width: 60%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include mobile {
        position: absolute;
        right: 0;
        width: auto;
        display: block;
        width: 10rem;
        height: 10rem;
      }

      @include mobile-smallest {
        position: absolute;
        right: 0;
        width: auto;
        display: block;
        width: 10rem;
        height: 10rem;
      }

      .contact__button {
        width: 17rem;
        height: 7rem;
        background: $color-primary;
        color: white;
        font-size: 2rem;
        border-radius: .5rem;
        margin-bottom: 10rem;

        @include mobile {
          position: fixed;
          height: 4rem;
          left: calc(50% - 8.5rem);
          bottom: 2rem;
          margin-bottom: 0;
          z-index: 1; 
        }

        @include mobile-smallest {
          position: fixed;
          height: 4rem;
          left: calc(50% - 8.5rem);
          bottom: 2rem;
          margin-bottom: 0;
          z-index: 1; 
        }
      }
    }

    .contact__img {
      width: 20rem;
      height: 20rem;
      object-fit: cover;
      border-radius: 50%; 
      margin-right: 3.5rem;

      @include mobile {
        width: 10rem;
        height: 10rem;
        margin-right: 0;
      }

      @include mobile-smallest {
        width: 10rem;
        height: 10rem;
        margin-right: 0;
      }
    }
  }

  &__logo {
    align-self: flex-start;
    display: inline-block;
    width: 20rem;
    padding-top: 2rem;

    @include mobile {
      grid-area: logo;
      width: 15rem;
      padding-top: 4rem;
    }

    @include mobile-smallest {
      grid-area: logo;
      width: 15rem;
      padding-top: 4rem;
    }
  }
}

