.header {
  margin: 0 auto;

  &__container-home {
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 3rem;

    @include mobile {
      height: auto;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: 
        "logo title"
        "links links"
      ;
      gap: 0 1rem;
    }

    @include mobile-smallest {
      height: auto;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: 
        "logo title"
        "links links"
      ;
      gap: 0 1rem;
      padding: 0 .8rem;
    }
  }

  &__logo {
    display: inline-block;
    width: 20rem;
    padding-top: 2rem;

    @include mobile {
      grid-area: logo;
      width: 14rem;
    }

    @include mobile-smallest {
      grid-area: logo;
      width: 14rem;
    }
  }

  .header__nav {
    @include mobile {
      grid-area: links;
    }

    @include mobile-smallest {
      grid-area: links;
    }
  }

  &__nav--ul {
    //padding: 0 8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 2rem;
  }

  &__nav--li {
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 700;
    border: .1rem solid #E5E5E5;
    border-radius: 2rem;
    color: $color-primary;
    padding: .5rem 1rem;
    margin: .2rem;
    transition: .3s;

    &:hover {
      color: #E5E5E5;
      background: $color-primary;
    }
  }

  &__link {
    position: absolute;
    width: fit-content;
    top: 1rem;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    display: inline-block;
    border-radius: .5rem;
    font-size: 2rem;
    color: black;
    font-weight: bold;
    background: $color-secondary;
    padding: .3rem 1.2rem;
    transition: .3s;

    @include mobile {
      display: none;
    }

    @include mobile-smallest {
      display: none;
    }

    &:hover {
      color: white;
    }
  }

  h1 {
    font-size: 3.5rem;
    color: $color-primary;
    padding-top: 2rem;

    @include mobile {
      grid-area: title;
      justify-self: end;
      font-size: 1.5rem;
    }

    @include mobile-smallest {
      grid-area: title;
      justify-self: end;
      font-size: 1.5rem;
    }
  }
}


