.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-evenly;
  padding: 0 5rem;

  @include mobile {
    padding: 1rem 3% 0 3%;
  }

  @include mobile-smallest {
    padding: 1rem 3% 0 3%;
  }
}

#card__section {
  max-width: 1440px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 2rem;
  justify-content: space-between;
  justify-items: stretch;
  position: relative;
  margin-bottom: 8rem;

  @include mobile {
    grid-template-columns: 1fr;
    justify-content: center;
    width: 100%;
    gap: 3rem;
  }

  @include mobile-smallest {
    grid-template-columns: 1fr;
    justify-content: center;
    width: 100%;
    gap: 3rem;
  }
}


