.main {
  padding-top: 0rem;

  @include tablet {
    padding: 0 3rem;
  }
}

.cardPhotographer__section {
  align-items: center;
  flex-wrap: wrap;

  @include mobile {
    flex-direction: column;
    padding-top: 1rem;
  }

  @include mobile-smallest {
    flex-direction: column;
    padding-top: 1rem;
  }
}