:root {
  font-size: 62.5%;
}

::placeholder {
  color: $color-secondary-text-gray;
  opacity: .8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'DM Sans', sans-serif;
  max-width: 1440px;
  min-height: 100vh;
  margin: 0 auto;
}

h1 {
  font-weight: normal;
}

h2 {
  font-size: 2.5rem;
  font-weight: normal;
}

h3 {
  font-size: 1.8rem;
  font-weight: normal;
}

button, 
a,
li 
{
  cursor: pointer;
}

button {
  border: none;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}


